.label {
    &_column {
        .label__title {
            margin-bottom: 4px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;     
        color: #969696;
    }

    &__required {
        color: var(--color-error);
    }
}