.sales-page {
    &__filters {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 40px;
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        padding: 0px 24px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.02em;
        color: var(--color-white);
        background: #3D3D3D;
        transition: .2s linear;
        border-radius: var(--radius-standard);
        cursor: pointer;

        &:hover {
            background: var(--color-conv-dark);
        }

        &.is-active {
            background: var(--color-conv-lightness);
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        gap: 40px 32px;
    }

    &-card {
        width: 100%;
        max-width: 282px;
        flex-shrink: 0;
        padding: 24px;
        background: var(--bg-main);
        border-radius: var(--radius-standard);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .2s linear;

        &:hover {
            box-shadow: 0px 0px 40px #{HexToRGBA($color-conv-light, 0.3)};
        }
    }

    &-card__img {
        border-radius: var(--radius-standard);
        width: 234px;
        height: 234px;
        margin-bottom: 16px;

        img {
            height: 100%;
            width: auto;
            border-radius: var(--radius-standard);
        }
    }

    &-card__title {
        font-weight: 500;
        margin-bottom: 8px;
    }

    &-card__date {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.02em;
        color: var(--color-white);
    }

    &-card__text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.43;
        color: #969696;
    }

    &-card__footer {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-card__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &-card__tag {
        font-size: 12px;
        padding: 0 12px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #E8E2FE;
        color: var(--color-conv-light);
        border-radius: var(--radius-standard);
        max-width: 174px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}